    <h1>{{aim}}</h1>
    <div class="container w-25 border mt-3 p-3" style="background: rgb(220, 239, 135);">
        <h1 class="text-center">User Login Page</h1>
        <div class="pt-2 mt-2">
            <input id="user1" type="text" [placeholder]="acnt"  (change)="acChange($event)" class="form-control">
        </div>
        <div class="pt-2 mt-2">
            <input id="userp" type="password" placeholder="password" (change)="psChange($event)" class="form-control">
        </div>
<div class="p-2 mt-2">
           <button type="button" (click)="login()" class="btn btn-success" >Login</button>
          <p>
            <a>new user?</a>
            <button>Register here</button>
          </p> 
</div>

    </div> 
